
  .marioTunelImages:hover {
    transform: scale(1.2);
  }
  
  .wrapper {
    display: flex;
    align-items: center;
  }
  
  .tunnel {
    width: 200px;
    height: 200px;
  }
  
  .container {
    overflow: hidden;
  }

  
  
  .images {
    display: flex;
    flex-direction: row;
    position: relative;
  
    
  }
  
  .images img {
    width: 200px;
    height: 200px;
    margin: 30px;
  }
  
 
  .marioflor{
    flex: 1;
     margin: auto;
      width: 400px; 
      height: 350px;
      margin-bottom: 50px;

  }


/* =========NEXT AND PREVIOUS BUTTON =========== */

#prev-btn,
  #next-btn {
    top: 50%;
    /* transform: translateY(-50%); */
    z-index: 1;
  }
  
  #prev-btn {
    left: 0;
  }
  
  #next-btn {
    right: 0;
  }


  /* =============PREVIOUS BUTTON ============ */
  .navBtn {
    background-color: #dd3608;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .navBtn:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .navBtn:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .navBtn:hover {
    background-color: #0511b8;
  }
  
  .navBtn:hover {
    background-color: #0511b8;
  }

/* ===============NEXT BUTTON =============== */

  .navBtn1 {
    background-color: #dd3608;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .navBtn1:first-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .navBtn1:last-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .navBtn1:hover {
    background-color: #0511b8;
  }

